/.idea
/cmake-build-debug/
/include/
/lib/
/sdsl-lite/
/data/yeast.fasta.*
/bigrepair/ctph/unparsz
/bigrepair/large_repair/irepair
/bigrepair/largeb_repair/despair
/bigrepair/largeb_repair/idespair
/bigrepair/largeb_repair/irepair
/bigrepair/largeb_repair/repair
/bigrepair/repair/despair
/bigrepair/repair/idespair
/bigrepair/repair/irepair
/bigrepair/ipostproc
/bigrepair/iprocdic
/bigrepair/postproc
/bigrepair/procdic
/Makefile
/tfm_index_construct
/CMakeCache.txt
/cmake_install.cmake
*.x
*.o
/CMakeFiles/
tfm_index_invert_to_binary
