/data/yeast.fasta.*
/.idea
*.x
*.o
/cmake-build-debug/
/bigrepair/ctph/unparsz
/bigrepair/large_repair/irepair
/bigrepair/largeb_repair/despair
/bigrepair/largeb_repair/idespair
/bigrepair/largeb_repair/irepair
/bigrepair/largeb_repair/repair
/bigrepair/repair/despair
/bigrepair/repair/idespair
/bigrepair/repair/irepair
/bigrepair/ipostproc
/bigrepair/iprocdic
/bigrepair/postproc
/bigrepair/procdic
